/*------------------------------------------------------------------
[Main Stylesheet]

Project:    Table Tennis Coaching
Version:    1.1
Last change: 02/29/2016 [initial change]
Assigned to: Rolando C. Parado

[Color codes]

Background: #ffffff (white)
Content: #444444
Header: #202020 (gray)

a (standard): #f6f6f6
a (visited): ##fe184a
a (active): ##fe184a
a (hover):  ##fe184a

[Table of contents]

1. Global styles
2. Header
3. Content
4. Pre-footer
5. Footer
6. Media Query
-------------------------------------------------------------------*/
/* 1. Global */
@font-face {
	font-family: 'porta';
	src: url('../fonts/pluton.eot?49924914');
	src: url('../fonts/pluton.eot?49924914#iefix') format('embedded-opentype'),
	   url('../fonts/pluton.woff?49924914') format('woff'),
	   url('../fonts/pluton.ttf?49924914') format('truetype'),
	   url('../fonts/pluton.svg?49924914#porta') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before {
	font-family: "porta";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;

	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
}
.icon-up-open:before { content: '\e805'; }
.icon-plus:before { content: '\e826'; }
.icon-email:before { content: '\e825';}
.icon-facebook-circled:before { content: '\e80e'; }
.icon-gplus-circled:before { content: '\e80d'; }
.icon-linkedin-circled:before { content: '\e806'; } 
.icon-github-circled:before { content: '\e811'; }
.icon-skype-circled:before { content: '\e813'; }

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after { clear: both; }
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix { *zoom: 1; }
* {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: none;
	text-shadow: none;
}

::selection {
	background: none;
	text-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #202020;
	text-transform: uppercase;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 100;
	margin-top: 0;
}
h1 {
	color: #fff;
	font-size: 44px;
	font-weight: 700;
	line-height: 44px;
	margin: 0;
}
h2 {font-size: 40px;}
p {
	margin: 0 0 30px;
	font-weight: 400;
}
a {
	color: #f6f6f6;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: normal;
	text-decoration: none;
	outline: none;
} 
a:hover {
	outline: none;
	text-decoration: none;
}
a:visited,
a:focus,
a:link {
	text-decoration: none;
}

ul {
	padding: 0;
}
ul li {
	list-style: none;
}
body {
	color: #444444;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
}
textarea {
	resize: none;
}
.outer-wrapper {
	overflow: hidden;
}
/* helper class */
.waypoint-1,
.waypoint-2,
.waypoint-3 {
	visibility: hidden;
}
.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
		animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
		animation-duration: 1s;
}
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
		animation-name: fadeInDown;
}

.fadeInUp {
	visibility: visible;
}

.delay-05s {
	-webkit-animation-delay: 0.5s;
		 -o-animation-delay: 0.5s;
			animation-delay: 0.5s;
}

.delay-1s {
	-webkit-animation-delay: 1s;
		 -o-animation-delay: 1s;
			animation-delay: 1s;
}

.delay-105s {
	-webkit-animation-delay: 1.5s;
		 -o-animation-delay: 1.5s;
			animation-delay: 1.5s;
}
.zoom-in {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
		transition: all 250ms ease;
}
.zoom-in:hover {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
}
.triangle {
	margin: 0 auto;
	text-align:center;
	width: 0;
	height: 0;
	border-top: 30px solid #181A1C;
	border-left: 585px outset transparent;
	border-right: 585px outset transparent;
	position: relative;
	z-index: 2;
}
.radius {
	border-radius: 50%;
}
/* 2. Header */
.navbar {
	background: #181A1C;
	margin-bottom:0;
	min-height:70px;
	z-index: 100;
}

.navbar-fixed-top {
	min-height:60px;
	padding-top:0;
}
.navbar-inner {
	background: #181A1C;
	border-radius:0;
	filter: none;
	border: none;
	box-shadow: none;
}
.navbar-fixed-top,
.navbar-brand {
	height: auto;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-toggle,
.navbar-toggle.collapse {
	border-radius: 0;
	background: #FECE1A;
	color: #000;
}
.navbar-default {
	border-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
	margin-top: 18px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}
.navbar-collapse {
	border: none;
	box-shadow: none;
	padding: 0;
	float: none;
	margin: 0;
	width: 100%;
}
.container > .navbar-collapse {
	margin: 0;
}
.nav > li > a {
	background: none;
	font-family: 'Roboto', Arial, sans-serif;
	text-transform:uppercase;
	line-height: 18px;
	vertical-align: middle;
	margin:10px 3px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
		box-shadow: none;
	border: 1px solid transparent;
	border-radius: 5px;
	font-size:15px;
	font-weight: bold;
	text-shadow: none;
	color: #fff;
	transition: border-color 1s ease;
}
.nav > li:hover> a, 
.nav > .active > a, 
.nav > .active > a:hover, 
.nav > .active > a:focus {
	border: 1px solid #FECE1A;
	color: #fff;
	background-color: transparent;
	transition: border-color 1s ease;
}
.nav > li > a:focus,
.nav > li > a:link {
	background: transparent;
}
.developer-intro-wrapper {
	padding-top: 65px;
	width: 100%;
	min-width: 320px;
	position: relative;
	margin:0 auto;
	overflow: hidden;
	background: #FECE1A;
}
.developer-intro .container {
	padding-top: 50px;
	padding-bottom: 50px;
}
.intro-message {
	text-align: center;
	padding-bottom: 30px;
}
.intro-message h1 {
	margin-bottom: 15px;
}
.position p {
	font-size: 24px;
	margin: 0 0 15px;
}
.intro-avatar img {
	margin: 0 auto;
}
/* about */
.section-wrapper-gray {
	background: #181A1C;
}
.section-about p {
	font-weight: 100;
}
.section-wrapper-gray .container {
	padding-top: 50px;
	padding-bottom: 40px;
}
.section-wrapper-gray h2 {
	color: #fff;
	margin-top: 0;
	text-align: center;
}
.section-wrapper-gray p {
	color: #fff;
	font-size: 20px;
	margin: 0 0 50px;
	text-align: center;
}
.section-wrapper-gray p span {
	color: #FECE1A;
}
.skills-wrapper h3 {
	color: #FECE1A;
}
.skills li {
	margin-bottom: 30px;
	background: #FFF;
	height: 40px;
	position: relative;
}
.skills li h3 {
	position: relative;
	font-size: 15px;
	padding: 0;
	margin: 0;
	top: 12px;
	left: 10px;
	z-index: 1;
	color: #181A1C;
}
.skills li .bar {
	height: 40px;
	position: absolute;
	background-color: #FECE1A;
}
/* portfolio */
.section-wrapper-yellow {
	background: #FECE1A;
}
.section-wrapper-yellow .container {
	padding-top: 50px;
}
.portfolio-wrapper-text {
	border-bottom: 1px solid #181A1C;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.section-wrapper-yellow h2 {
	color: #181A1C;
	text-align: center;
}
.section-wrapper-yellow p {
	font-size: 20px;
	margin-bottom: 0;
	text-align: center;
}
.section-wrapper-yellow p.text-color-gray {
	color: #181A1C;
}
.porfolio-menu {
	margin-bottom: 15px;
}
.porfolio-menu > li {
	float: left;
}
.porfolio-menu > li > a {
	border: 1px solid #181A1C;
	border-radius: 0;
	color: #000;
	padding: 5px 10px;
}
div.mix {
	margin-bottom: 30px;
	display: none;
	vertical-align: top;
    -webkit-backface-visibility: hidden;
}
figure.thumbnail {
	width: 100%;
    height: 100%;
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    background: #191a1c;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
figure .mask {
	opacity: 0.85;
    filter: alpha(opacity=85);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #181A1C;
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2 s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    padding: 10px 15px;
    color: #fff;
}
figure .large-pad {
	padding: 34px 15px;
}
figure .mask p,
.live-url {
	font-size: 18px;
	text-align: left;
}
.mask div {
	padding: 3px 0;
}
.mask .text-color {
	color: #FECE1A;
}
.caption {
	padding: 0 15px;
}
.caption h3 {
	color: #FECE1A;
    margin-top: 10px;
    font-size: 17px;
    margin-bottom: 10px;
}
.caption p {
	padding-bottom: 20px;
	font-size: 14px;
	color: #fff;
}
figure.thumbnail:hover .mask {
	top: 0;
	cursor: default;
}
.live-url a {
	color: #fff;
}
/* services */
.section-services {
	padding-bottom: 30px;
}
.service-item {
	text-align: center;
	margin-bottom: 30px;
}
.service-image {
	margin-bottom: 15px;
}
.service-details h3 {
	color: #FECE1A;
	margin-top: 0;
}
.service-details p {
	margin-bottom: 0;
	font-size: 17px;
	font-weight: 100;
}
/* testimonials */
.section-testimonials {
	padding-bottom: 50px;
}
.border-bottom-color {
	border-bottom: 1px solid #181A1C;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.border-bottom-color p {
	margin-bottom: 0;
}
.testimonial-item-wrapper {
	margin-bottom: 15px;
}
.testimonial-item {
	background: #181A1C;
	border-radius: 5px;
	padding: 15px;
}
.testimonial-item p {
	margin: 0 0 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 100;
	line-height: 18px;
	text-align: left;
}
.testimonial-client-name,
.client-source {
	color: #fff;
}
.testimonial-client-name {
	font-weight: 700;
}
/* contact */
.section-contact .container {
	padding-top: 120px;
}
.hire-me-widget {
	text-align: center;
}
.social-row-wrapper {
	text-align: center;
	margin-bottom: 30px;
}
.social-row {
	display: inline-block;
    margin-left: 0;
}
.social-row li {
	display: inline-block;
	line-height: 32px;
    padding: 10px 10px;
    margin-bottom: 15px;
    font-family: 'Porta', Arial;
    font-size: 50px;
    transition: margin 0.4s;
    -webkit-transition: margin 0.4s;
}
.social-row li a {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    color: #fff;
}
.social-row li a:hover {
	color: #FECE1A;
}
/* footer */
.footer {
	background: #181A1C;
	border-top: 1px solid #FECE1A;
	text-align: center;
	color: #fff;
	font-size: 16px;
	padding: 15px;
	font-weight: 100;
}
/* scroll */
.scrollup {
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	width: 39px;
	height: 39px;
	border-radius: 5px;
	font-size: 20px;
	position: fixed;
	bottom: 30px;
	right: 20px;
	border: 1px solid #fff;
	display: none;
	background: #FECE1A;
}
.scrollup > a {
	position: relative;
	top: 7px;
	color: #fff;
}
/* 6. Media Query */
@media screen and (min-width: 480px) {
	.social-row li {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 768px) {
	.navbar-collapse {
		float: right;
		width: 569px;
	}
	.navbar {
		border-radius: 0;
	}
	.nav > li {
		float: left;
	}
	.nav > li > a {
		margin: 17px 3px;
		padding: 10px 8px;
	}

	.intro-message {
		padding-top: 100px;
	}
	.skills li {
		margin-right: 28px;
		width: 48%;
		float: left;
	}
	.skills li:nth-child(2n) {
		margin-right: 0;
	}
}

@media screen and (min-width: 992px) {
	.navbar-collapse {
		width: 658px;
	}
	.nav > li > a {
		padding: 10px 16px;
	}
	.skills li {
		margin-right: 30px;
	}
	.caption h3 {
		font-size: 14px;
	}
	div.mix {
		height: 296px;
		overflow: hidden;
	}
	.service-item {
		margin-bottom: 0;
	}
	.testimonial-item-wrapper {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1200px) {
	.navbar-collapse {
		width: 777px;
	}
	.nav > li > a {
	    padding: 10px 26px;
	}
   .caption h3 {
		font-size: 18px;
	}
	figure .mask {
		padding: 62px 15px;
	}
	div.mix {
		height: 342px;
	}
}
